.container-fluid{
    background-color: burlywood;
    padding: 8px;
    border-radius: 8px;
}

.nav-item{
    background-color: bisque;
    margin: 8px;
    border-radius: 8px;
}

.addNoteForm{
    width: 500px;
    background-color: bisque;
    border-radius: 8px;
    padding: 16px;
}

.registerForm{
    width: 400px;
    background-color: bisque;
    border-radius: 8px;
    padding: 16px;
}

.loginForm{
    width: 300px;
    background-color: bisque;
    border-radius: 8px;
    padding: 16px;
}